@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Varela+Round&display=swap');

:root {
  --green: #08BD37;
  --card-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  --card-grey: #F9F9F9;
  --card-title-color: #333447;
  --card-text-color: ;
  --transition: ;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Varela Round', sans-serif;
}